{{ _('Machine State:') }} <strong data-bind="text: stateString"></strong><br>
{{ _('Platform-Position:') }} <strong data-bind="text: heightString"></strong><br>
{{ _('Model File:') }} <strong data-bind="text: filename"></strong>&nbsp;<strong data-bind="visible: sd">(SD)</strong><br>
{{ _('Parameter File:') }} <strong data-bind="text: confilename"></strong>&nbsp;<strong data-bind="visible: sd">(SD)</strong><br>
{{ _('Total Layers:') }} <strong data-bind="text: totallayers"></strong>&nbsp;<strong data-bind="visible: sd">(SD)</strong><br>
{{ _('Current Layer:') }} <strong data-bind="text: currentlayer"></strong>&nbsp;<strong data-bind="visible: sd">(SD)</strong><br>
{{ _('Est Total Time:') }} <strong data-bind="text: averagePrintTime"></strong>&nbsp;<strong data-bind="visible: sd">(SD)</strong><br>
{{ _('Est Remaining Time:') }} <strong data-bind="text: estimatedPrintTime"></strong>&nbsp;<strong data-bind="visible: sd">(SD)</strong><br>
{#{{ _('Timelapse') }}: <strong data-bind="text: timelapseString"></strong><br>
<!-- ko foreach: filament -->
<span data-bind="text: 'Filament (' + name() + '): '"></span><strong data-bind="text: formatFilament(data())"></strong><br>
<!-- /ko -->
{{ _('Approx. Total Print Time') }}: <strong data-bind="text: estimatedPrintTimeString"></strong><br>
{{ _('Print Time') }}: <strong data-bind="text: printTimeString"></strong><br>
{{ _('Print Time Left') }}: <strong data-bind="text: printTimeLeftString"></strong><br>
{{ _('Printed') }}: <strong data-bind="text: byteString"></strong><br>

<div class="progress">
    <div class="bar" id="job_progressBar" data-bind="style: { width: progressString() + '%' }"></div>
</div>#}

